@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "Gilroy-Bold";
    src: url('./assets/Gilroy-bold/Gilroy-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url('./assets/Gilroy-bold/Gilroy-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Play-Bold";
    src: url('./assets/Play-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Play-Regular";
    src: url('./assets/Play-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
}

div {
    display: block;
}

/* navbar-section  */
.navbar_sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 4;
    top: 0;
}

.navbar_container {
    background-color: #fff;
    box-shadow: 0 1px 0 #e5e6e7;
    /* position: fixed; */
    padding: 1vw 15px;
    width: 98%;
}

.navbar_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 0.7vw 0 2vw;
}

.ppa_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_logo {
    width: 17vw;
}

/* navbar_links */
.links_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5.5vw;
}

.navbar_nav_links {
    color: #4f516b;
    font-family: 'Gilroy-Medium';
    text-decoration: none;
    font-size: 1vw;
    margin: 0 1.4vw;
    white-space: nowrap;
}

/* navbar_buttons */
.navbar_buttons {
    display: flex;
    align-items: center;
    margin: 0 0.8vw;
}

.log_in {
    font-family: 'Gilroy-Bold';
    font-size: 1vw;
    cursor: pointer;
    color: #444BAB;
}

.free_trial {
    box-sizing: border-box;
    padding: 0.725vw 25px;
    margin-left: 1vw;
    font-family: 'Gilroy-Bold';
    font-size: 1vw;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(91.41deg, #444BAB 0%, #3AA2C1 99.71%);
    border-radius: 5px;
    border: none;
}

.free_trial:hover {
    background: linear-gradient(-91.41deg, #444BAB 0%, #3AA2C1 99.71%);
}

/* landing-banner-container */
/* .banner_container{
    display: flex;
    justify-content: space-around;
    margin-top: 2.5vw;
} 
.banner_heading{
    display: flex;
    flex-direction: column;
    margin: 5vw 2.5vw 2.5vw;
}  */

/* cards_container */
.course_cards_container {
    font-family: 'Poppins';
    font-style: normal;
}

.course_title {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 149.8%;
    color: #4F516B;
    text-align: center;
}

.course_desc {
    font-weight: 400;
    font-size: 1.1rem;
    padding: 1.1rem;
    line-height: 149.8%;
    color: #505050;
    text-align: center;
}

.cards_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    width: 23rem;
    margin: 2rem;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.cards:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
    cursor: pointer;
}

.cards_image {
    height: 16rem;
    margin-bottom: 0.9rem;
    background-size: cover;
}

.image_1 {
    background-image: url('./Assets/renCourseImg.webp');
}

.image_2 {
    background-image: url('./Assets/LLdcourseImg.webp');
}

.image_3 {
    background-image: url('./Assets/beginwithC++Img.webp');
}

.cards_title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 149.8%;
    padding: 1rem;
    color: #4F516B;
}

.cards_desc {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1rem;
    color: #616161;
}

.know_more {
    font-weight: 600;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 149.8%;
    color: #444BAB;
}

/* founders_corner */
.founders_corner{
    font-family: 'Poppins';
    font-style: normal;
}
.founders_corner_title{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 149.8%;
    color: #444BAB;
    padding: 1rem;
    text-align: center;
}
.founders_corner_desc{
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 149.8%;
    padding: 0.5rem;
    color: #4F516B;
    text-align: center;
}
.founders_bg{
    display: flex;
    margin-top: 1.75rem;
    justify-content: center;
    padding: 3rem;
    flex-wrap: wrap;
    background: linear-gradient(96.55deg, rgba(62, 142, 188, 0.62) 0%, rgba(63, 126, 184, 0.536146) 30.88%, rgba(65, 106, 179, 0.429948) 84.64%, rgba(67, 81, 173, 0.301779) 99.02%, rgba(68, 75, 171, 0.67) 102.21%);
}
.founders_corners_card{
    position: relative;
    width: 23rem;
    margin: 6rem 2rem; 
    padding: 1rem;
    background-color: #fff;  
}
.founders_corners_card:hover{
    transform: scale(1.03);
    transition: all 0.5s ease;
    cursor: pointer;
}
.fcards {
    position: relative;
    display: flex;
    justify-content: center; 
    margin-bottom: 5rem;
} 
.fimage{
    position: absolute;
    background: #FFFFFF;
    transform: translateY(-6rem);
    border: 1px solid rgba(132, 144, 199, 0.35);
    border-radius: 50%;
}

.founders_title{
    color: #272834;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
}
.founders_post{
    font-weight: 400;
    font-size: 0.75rem;
    text-align: center;
    color: #67686B;
    padding: 0.5rem;
}
.founders_desc{
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem;
    color: #505050;
}
.sm_icon{
    display: flex;
    justify-content: center;
}
.sm_icon img{
    padding: 0.5rem;
    margin-bottom: 2rem;
}
.fcards_details{
    height: 19rem;
}

/* blogs_container */
.blogs_container{
    font-family: 'Poppins';
    font-style: normal;
}
.blog_details{
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
}
.bimages_1 {
    background-image: url('./Assets/images1.png');
}

.bimages_2 {
    background-image: url('./Assets/images2.png');
}

.bimages_3 {
    background-image: url('./Assets/images3.png');
}
.blog_cards_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.blogs{
    width: 23rem;
    margin: 2rem;
    border: 1px solid #D9D9D9;
    border-radius: 10px;   
}
.blogs:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
    cursor: pointer;
}
.blog_title{
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 149.8%;
    padding: 1rem;
    color: #4F516B;
}
.blog_desc{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1rem;
    color: #616161;
}
.blog_images{
    height: 16rem;
    margin-bottom: 0.9rem;
    background-size: cover;
}